@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




.horne-slogan {
    text-align: center;
    font-style: italic;
}

.horne-blog-infoline {
    font-size: 70%;
    text-align: center;
}

body {
    padding: 0 1em 3em 1em;
    max-width: 38em;
    margin: 0 auto;
    font-family: Lora, Georgia, serif;
    font-size: 18px;
    color: #333;
    background: #f6f6f6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lora, Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

h1 { font-size: 54px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

h1 {
    text-align: center;
}

img {
    border: 5px solid #333;
    margin: 0 auto;
    display: block;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.date {
    text-align: right;
    font-style: italic;
}

p, li, dd, dt {
    line-height: 150%;
}

pre {
    line-height: 130%;
}

pre {
    font-family: monospace;
    border: 5px solid #eee;
    padding: 0.5em;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 0.5em;
    margin-left: 2em;
    font-size: 18px;
}

pre, code {
    font-size: 13px;
}

code {
    background: #222;
}

pre code {
    background: inherit;
}

table {
    border-collapse: collapse;
    /*border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    font-size: 16px;
}

td, th {
    padding: 0.2em 0.4em;
    /*border: 1px solid #ccc;*/
}

.home {
    text-align: center;
}

.footer {
    margin-top: 3em;
    font-size: 15px;
}

.footer p {
    text-align: center;
}

.co1 {
    color: #7f9f7f;
    font-style: italic;
}
.st_h {
    color: #cc9393;
}

.kw2 {
    color: #f0dfaf;
    font-weight: bold;
}

.kw3 {
    color: #efef8f;
}
.re0 {
    color: #efdcbc;
}


.horne-system-header {
    font-size: 70%;
    padding-bottom: 50px;
}

.horne-system-header h1 {
    display: none;
}

ul.horne-system-navigation {
    margin: 0;
    padding: 0;
}

.horne-system-navigation li {
    display: inline;
    margin: 0;
    padding: 5px;
}




.horne-blog-archive-index li {
    list-style: none;
}
