@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




.horne-slogan {
    text-align: center;
    font-style: italic;
}

.horne-blog-infoline {
    font-size: 70%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lora, Georgia, serif;
    font-size: 20px;
    color: #111;
    background: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lora, Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

h1 {
    text-align: center;
}

img {
    margin: 0 auto;
    display: block;
}

a {
    color: #111;
}

a:hover {
    color: #c00;
}

.date {
    text-align: right;
    font-style: italic;
}

p, li, dd, dt {
    line-height: 150%;
}

dd {
    margin-bottom: 1em;
}

pre {
    line-height: 130%;
}

pre {
    font-family: monospace;
    padding: 1em;
    background: #444;
    color: #fff;
    border-radius: 1em;
    white-space: pre-wrap;
}

blockquote {
    margin: 0 4em;
    font-style: italic;
}

pre, code {
    font-size: 14px;
}

code {
    background: #eee;
}

pre code {
    background: inherit;
}

table {
    border-collapse: collapse;
    /*border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    font-size: 16px;
}

td, th {
    padding: 0.2em 0.4em;
    /*border: 1px solid #ccc;*/
}

.home {
    text-align: center;
}

.footer {
    margin-top: 3em;
    font-size: 15px;
}

.footer p {
    text-align: center;
}


.horne-system-header {
    margin-bottom: 50px;
    background: #fdfdfd;
}

.horne-system-header h1 {
    /*display: none;*/
    margin: 0;
}

.horne-system-header h1 a {
    text-decoration: none;
}

.horne-system-navigation {
    max-width: 34em;
    padding: 0 1em;
    margin: 0 auto;
}

.horne-system-navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.horne-system-navigation li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.horne-system-navigation li a {
    display: block;
    margin: 0;
    padding: 10px;
}

.horne-system-content {
    max-width: 34em;
    margin: 0 auto;
    padding: 0 1em 3em 1em;
}

.horne-system-content img {
    max-width: 100%;
    border-radius: 15px;
}



.horne-blog-archive-index li {
    list-style: none;
}



/**
 * Zenburn for GeSHi
 */

pre {
    color: #dcdccc;
    background: #3f3f3f;
}

/* Brackets */
.br0  {} /* Symbols [ ( { } ) ] */

/* comments */
.co0  { color: #7f9f7f;                     } /* "#" style comments */
.co1  { color: #7f9f7f; font-style: italic; }
.co2  {}
.co3  {}                                      /* EOT blocks */
.co4  { color: #7f9f7f;                     } /* / * * / style comments */
.coMULTI { color: #7f9f7f;                  } /* multiline comments */

/* default text (without any code highlighting) */
.de1  {}
.de2  {}

/* Escaped characters */
.es0  {}
.es1  {}
.es2  {}
.es3  {}
.es4  {}
.es5  {}
.es6  {}
.es_h {}

/* keywords */
.kw1  { color: #f0dfaf; font-weight: bold; } /* Key Words I (if, do, while, etc.) */
.kw2  { color: #f0dfaf; font-weight: bold; } /* Key Words II (null, true, false, etc.) */
.kw3  {  } /* Built-in Functions (array())*/
.kw4  { color: #f0dfaf; font-weight: bold; } /* Data Types (int, bool, etc) / false in PHP */

/* line highlights */
.li1 {}

/* Numbers */
.nu0  { color: #8cd0d3; }
.nu8  {}
.nu12 {}
.nu19 {}

/* Methods */
.me1  {}
.me2  {}

/* Vars */
.re0  { color: #ffcfaf;                    } /* Variables */
.re1  {} /* xml tag open */
.re2  {} /* xml tag close */
.re5  {}

.sc0  {}

/* strings */
.st0  { color: #cc9393                      } /* "\"" style strings */
.st_h { color: #cc9393;                     } /* "'" style strings */

/* symbol */
.sy0  {}
.sy1  {}                                      /* ?> php closing tag */
